@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f74c0;
    font-family: 'Neucha', cursive;  /* 使用字体 */
}

.heading {
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    margin: 30px 0;
    text-align: center;
    z-index: 1; /* 保持最顶层，为了之后的动画效果 */
    
/* 窗口适应 */
@media (max-width: 800px) { 
    .heading {
        margin: 15px 0;
        font-size: 35px;
    }
}
}
